.creazione-button{
    padding: 4px;
    width: 150px;
    margin-top: 20px;
    background-color: rgb(73,212,38);
    cursor: pointer;
    margin-left: 1rem;
    border-radius: calc(var(--curve)*1px);
}

#dataTable {
    margin-top: 10px!important;

}