.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

section div img{
    text-align: center;
    height: 500px;
}
.prodotti{
    padding-top: 20px;
    column-count: 3;
    text-align: center;
}

.body-color{
    background-color: var(--body_color);
}
